/* colors: 
Yellow: #DBCA69
Green: #668D3C
lightGray: #A3ADB8
darkGray: #4E6172 */

#news-header {
  font-size: 20px;
  color: #DBCA69;
  margin: 20px 0 30px 0;
  border-bottom: 2px solid #DBCA69;
}

#blurb {
  font-weight: lighter;
}

.news-container h1 {
  font-weight: bolder;
  font-size: 20px;
  color: #668D3C;
  text-shadow: 2px 2px black;
  margin: 10px 0;
}

.news {
  text-align: justify;
}

.weatherCard {
  border-bottom: 1px solid #DBCA69;
}

.weatherCard h1 {
  font-size: 23px;
  text-align: center;
}

#weatherCard {
  border: 1px solid #DBCA69;
  height: 200px;
}

.weatherCard h2 {
  color: #DBCA69;
  margin: 10px 0 0 10px;
}

.weatherCard #pullLeft{
  float: left;
  margin: 150px 0 10px 10px;
}

.weatherCard #pullRight{
  float: right;
  margin: 150px 10px 10px 0;
}

#forget {
  float: right;
}

@media only screen and (min-width: 640px){ /* TABLET VIEWS */

}

@media only screen and (min-width: 960px){ /* DESKTOP VIEWS */
  #news-header {
    font-size: 30px;
  }
}