/* line break the check box and button to separate lines on the request page */

/* colors: 
Yellow: #DBCA69
Green: #668D3C
lightGray: #A3ADB8
darkGray: #4E6172 */

.main-container span, header h1{
  font-family: 'Merienda One', cursive;
}

header h1{
  font-size: 30px;
  margin: 0 0 0 10px;
}

hr{
  width:380px;
  margin:-3px 0 0 5px;
}

.main-container{
  width:100%;
  height: 70px;
  padding: 15px;
  background-color:#668D3C;
}

.topNav a{
  text-decoration: none;
  font-size: 20px; 
  margin-top:10px;
  padding: 0 0 0 25px;
  color:white
}

.topNav{
  margin: 15px 0 0 -10px;
}

.icon-menu{
  display: none;
  color: #fff;
}

@media only screen and (max-width: 800px){ /* TABLET VIEWS */
  header h1{
    font-size: 30px;
    float:left;
    margin-left:20px;
  }
  
  hr{
    width:380px;
    margin: 30px 0 0 -376px;
    float:left
  }

  .main-container{
    height:30px;
  }

  .topNav a{
    font-size: 20px;
    display: none;
  }

  .icon-menu{
    display: block;
    float: right;
    margin:-15px 30px 0 0;
  }

  .topNav.responsive {
    position: relative;
    background-color: #668D3C;
    padding:10px 25px;
    margin-top:37px;
    
  }
  .topNav.responsive .icon-menu {
    position: absolute;
    right: 0;
    top: -22px;
  }
  .topNav.responsive a {
  	clear:left;
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 470px){ /*PHONE VIEWS*/
  header h1{
    font-size: 20px;
    float:left;
    margin-left:20px;
  }
  
  hr{
    width:255px;
    margin: -3px 0 0 16px;
    float:left
  }

  .main-container{
    height:20px;
  }

  .topNav a{
    font-size: 20px;
    display: none;
  }

  .icon-menu{
    display: block;
    float: right;
    margin:-23px 30px 0 0;
  }

  .topNav.responsive {
    position: relative;
    background-color: #668D3C;
    padding:10px 25px;
    margin-top:25px;
    
  }
  .topNav.responsive .icon-menu {
    position: absolute;
    right: 0;
    top: -5px;
  }
  .topNav.responsive a {
  	clear:left;
    float: none;
    display: block;
    text-align: left;
  }
  
}
