/* line break the check box and button to separate lines on the request page */

/* colors: 
Yellow: #DBCA69
Green: #668D3C
lightGray: #A3ADB8
darkGray: #4E6172 */

.main-container span, header h1{
  font-family: 'Merienda One', cursive;
}

header img{
  height:60px;
  width:250px;
  margin:-15px 0 -10px -30px;
}

.main-container{
  width:100%;
  height: 70px;
  padding: 15px;
  background-color:#668D3C;
}

.topNav a{
  text-decoration: none;
  font-size: 20px; 
  margin-top:10px;
  padding: 0 0 0 25px;
  color:white
}

.topNav{
  margin: 15px 0 0 -10px;
}

.icon-menu{
  display: none;
  color: #fff;
}

@media only screen and (max-width: 800px){ /* TABLET VIEWS */
  header img{
    height:60px;
    margin:-15px 0 0 -30px;
  }

  .main-container{
    height:30px;
  }

  .topNav a{
    font-size: 20px;
    display: none;
  }

  .icon-menu{
    display: block;
    float: right;
    margin:-65px 30px 0 0;
  }

  .topNav.responsive {
    position: relative;
    background-color: #668D3C;
    padding:10px 25px;
    margin:-5px 0 0 -35px;
  }
  .topNav.responsive .icon-menu {
    position: absolute;
    right: 0;
    top: 20px;
  }
  .topNav.responsive a {
  	clear:left;
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 470px){ /*PHONE VIEWS*/
  header img{
    height:50px;
    width:200px;
    margin:-15px 0 0 -20px;
  }

  .main-container{
    height:20px;
  }

  .topNav a{
    font-size: 15px;
    display: none;
  }

  .icon-menu{
    display: block;
    float: right;
    margin:-55px 30px 0 0;
  }

  .topNav.responsive {
    position: relative;
    background-color: #668D3C;
    padding:10px 0 10px 25px;
    margin:-10px 0 0 -20;
  }
  .topNav.responsive .icon-menu {
    position: absolute;
    right: 0;
    top: 20px;
  }
  .topNav.responsive a {
  	clear:left;
    float: none;
    display: block;
    text-align: left;
  }
  
}
